:root {
  --background-color: #2196f3;
  --text-color: #ffffff;
  --background-icon: #f5f4fa;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* стили шапки */

.link {
  color: #000000;
  text-decoration: none;
}
.link:active {
  color: blueviolet;
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 86px;
}

.logo-footer {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.18;
  font-weight: 700;

  display: inline-block;
  padding-top: 48px;
}
.logo-one {
  color: var(--background-color);
}
.logo-two {
  color: var(--text-color);
}

/* Стили героя */

.hero {
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;

  padding-top: 200px;
  padding-bottom: 0px;
  padding-left: 477px;
  padding-right: 477px;
  margin: 0px;
}
.link-hero {
  background: var(--background-color);
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  text-align: center;

  display: inline-block;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  margin-top: 46px;
}
/* cтили секций */

.three {
  color: var(--text-color);
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 0px;
  padding: 27px;
}

.prioritiets {
  display: flex;
}

.prioritiets .item + .item {
  margin-left: 30px;
}

.name-text {
  text-align: center;
}

.list a {
  color: #afb1b8;
  text-decoration: none;
}
.list a:hover,
.list a:focus {
  color: var(--text-color);
  background-color: var(--background-color);
}

.list {
  display: inline-flex;
  width: 206px;
  margin-right: 32px;
  margin-left: 32px;
  margin-top: 16px;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  padding-top: 94px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}

.padding-title {
  padding-top: 94px;
}

.title-three {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 0px;
}

.icon .anten::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-icon);
  border-radius: 4px;
  background-image: url(../images/anten.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon .clock::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-icon);
  border-radius: 4px;
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon .diagram::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-icon);
  border-radius: 4px;
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon .astronaut::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-color: var(--background-icon);
  border-radius: 4px;
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.comanda {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.insta {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../images/instagram.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.twit {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../images/twitter.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.fb {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../images/facebook.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.in {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-image: url(../images/linkedingrey.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.prioritiets .logoone::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-image: url(../images/logo1.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 94px;
}

.prioritiets .logotwo::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/logo2.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prioritiets .logotree::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/logo3.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prioritiets .logofour::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/logo4.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prioritiets .logofive::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/logo5.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.prioritiets .logosix::before {
  display: inline-block;
  content: "";
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url(../images/logo6.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.paragraf {
  font-size: 14px;
  line-height: 1.71;

  margin-top: 10px;
  margin-bottom: 0px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
}
.prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}
